@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'GTAVfont', sans-serif;
    letter-spacing: px;
    font-size: 30px;

}

body {
    position: relative;
    padding-right: 10px;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: white;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/img/lossantos.jpg') no-repeat center center/cover;
}

.overlay{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.hero {
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    right: 0;
    margin-right: 15px;
    text-align: center;
    color: goldenrod;
}

.hero.moved {
    transform: translateY(-80vh);
}

.hero h1 {
    font-size: 30px;
    margin: 0;
    letter-spacing: 1.5px;
}

/* LOGIN PHASE */
.login-container, .register-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    color: white;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.login-form, .register-form {
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.login-form input, .register-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.login-form button, .register-form button {
    width: 100%;
    padding: 10px;
    background: #ffcc00;
    border: none;
    cursor: pointer;
}

.login-form button:hover, .register-form button:hover {
    background: #ff9900;
}

/* Pulsante per chiudere il container */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* Menu NavBar style off-canvas*/
.menu-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 3;
}

.sidebar {
    position: fixed;

    display: flex;
    flex-direction: column;

    justify-content: space-between;

    border-right: 10px solid rgba(255, 255, 255, 0.2);

    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    padding-top: 60px;
    transition: left 0.3s ease;

    z-index: 3;
}

.sidebar a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    text-align: center;

    transition: background 0.3s;
}

.sidebar a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid whitesmoke;
}

.sidebar.active {
    left: 0;
}

#settings {
    margin-bottom: 20px;
}

#settings a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 5px 10px;
    color: white; /* Forza il colore bianco */
    text-align: center;
}

#settings a:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
    border-bottom: 1px solid whitesmoke;
}


